<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Quer saber sobre mim?</h2>        
        <p>Eu sou um apaixonado por desafios e sempre busco superar meus limites. E, na área da programação, não é diferente: sempre há algo novo para aprender e aperfeiçoar, e isso me motiva a crescer cada vez mais como profissional. </p>
      </div>
      <div class="col-md-3">
        <img src="https://t4.ftcdn.net/jpg/05/29/65/89/240_F_529658956_tF6QxKJwRtH8yRZaTQfpeRzLAw1bEbKp.jpg" class="img-fluid center animated tada" alt="">
      </div>
      <div class="col-md-3">        
        <p class="text-wrap">Olá, meu nome é Eder e sou um programador apaixonado por tecnologia. Desde jovem, tive interesse por computadores e sempre quis saber como tudo funcionava por trás das telas. Quando descobri a programação, encontrei minha paixão e não parei mais de explorar todas as possibilidades que ela oferece.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2>Coisas inspiradoras</h2>
        <ul>
          <li>Steve Jobs: "Stay hungry, stay foolish."</li>
          <li>Elon Musk: "Failure is an option here. If things are not failing, you are not innovating enough."</li>
          <li>Alan Turing: "We can only see a short distance ahead, but we can see plenty there that needs to be done."</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Desafios de programação</h2>
        <ul>
          <li>"Debugging" é como ser um detetive em um filme de assassinato onde você é também o assassino.</li>
          <li>Programação é a arte de criar algo do nada, mas com 100 erros de digitação.</li>
          <li>Se o primeiro bug que você encontra é o último, você não está testando o suficiente.</li>
          <li>A diferença entre um programador bom e um programador ruim é que o programador bom sabe quando deletar código.</li>          
        </ul>
      </div>
    </div>
  </div>